!!! 5
%html
  %head
    %title Sidestep
    %meta{ :name => 'author', :content => 'Bob Nadler, Jr. <bnadlerjr@gmail.com>' }
    %link{:rel => 'stylesheet', :type => 'text/css', :href => './css/styles.css'}/
  %body
    = yield
